.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.richard-img {
  display: block;
  height: 10%;
  width: 10%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.project-header {
  margin-top: 2%;
  padding: 1em;
  font-size: 2em;
  text-align: center;
}

.projImg {
  margin-top: 10%;
  padding: 1em;
  display: block;
}

.time-header {
  padding: .5em;
  font-size: 1em;
  text-align: center;
}

.sub-header {
  font-size: .5em;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.grad-1 {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
  padding: 6em;
  height: 5%;
  display: block;
}

.name {
  color: white;
  text-align: center;
}

.description {
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}
