.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100vw;
  max-height: 100%;
  margin: auto;
}

.left-centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.centered {
  text-align: center;
}

.top-buffer {
  margin-top: 1em;
}

.res-img {
  height: 10em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one-pic {
  grid-column: 1;
  grid-row: 1;
}

.one-body {
  grid-column: 2 / 4;
  grid-row: 1;
}

.center {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

/* Why is the text only being centered when I do #footer {} and not footer {} */

#footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
