/* CSS reset */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}


.parallax {
  background-image: linear-gradient(to left, rgb(255, 255, 255, 0), rgb(255, 255, 255, .2)), url("./img/Richard.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.center-fit {
  max-width: 100vw;
  max-height: 100%;
  margin: auto;
}

.left-centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.centered {
  text-align: center;
}

.line:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 7vw;
  padding-bottom: 1.5vh;
  border-bottom: 2px solid black;
}

.top-buffer {
  margin-top: 8.25vh;
}

.small-top-buffer {
  margin-top: 3vh;
}

.top-pad {
  padding-top: 5vh;
}

.imgbox {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.img-background {
  background-color: #f9f8f8;
  border-radius: 3vh;
  height: 25vh;
  width: 24vw;
  display: flex;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.img-background:hover {
  background-color: #daffd7;
}

.big-m {
  max-height: 24vh;
}

.res-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 1vh;
  overflow: auto;
}

.one80 {
  max-width: 94%;
  max-height: 90%;
  min-height: 1vh;
  overflow: auto;
}

.mpow {
  max-width: 85%;
  max-height: 100%;
}

.overall-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.text-body {
  text-align: left;
  word-wrap: break-word;
  max-width: 30vw;
  margin-left: 5vw;
  position: relative;
}

.center {
  text-align: center;
}

.grey {
  background-color: #f9f9f9;
}


.green {
  color: #009933;
}

.gray-green {
  background-color: #e5ece5cc;
}

.line-green:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 7vw;
  padding-bottom: 1.5vh;
  border-bottom: 2px solid #009933;
}
.underline {
  text-decoration: underline;
}

.dark {
  background-color: #cccc;
}

.light-txt {
  color: white;
}

.card {
  text-align: left;
  background-color: rgb(253, 253, 253);
  border-radius: 3vh;
  flex-grow: 1;
  display: inline-block;
  max-width: 50%;
  padding: 3vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.proj {
  font-size: 2.4vh;
}

.extra-bottom {
  margin-bottom: 3vh;
}

.float-right {
  float: right;
}

.footer {
  color: rgb(109, 108, 108);
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  max-width: 90%;
  padding-top: 4vh;
  padding-bottom: 3vh;

}

.footer-background {
  background-color: white;
}

.left-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  text-align: left;
  justify-content: space-between;
}

.right-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  text-align: right;
}

.linkedin {
  width: 2em;
  margin-right: .8em;
  margin-bottom: .5em;
  filter: opacity(30%);
}

.linkedin:hover {
  filter: opacity(100%);
}

.github {
  width: 2em;
  margin-bottom: .4em;
  margin-right: 1em;
  filter: opacity(30%);
}

.github:hover {
  filter: opacity(100%);
}

.mail {
  width: 2em;
  margin-bottom: .4em;
  filter: opacity(30%);
}

.mail:hover {
  filter: opacity(100%);
}

.out-link-1 {
  color: rgb(153, 153, 153);
  text-decoration: none;
}

.out-link-1:hover {
  color: #009933;
}

.out-link-2 {
  color: rgb(153, 153, 153);
  text-decoration: none;
}

.out-link-2:hover {
  color: rgb(0, 0, 0);
}

.checkout {
  font-size: 2.4vh;
}

.symbol-container {
  display: inline-block;
  text-align: right;
}

.connect {
  margin-bottom: 1vh;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 4em;
}

h2 {
  display: block;
  font-size: 4vh;
}

h3 {
  display: block;
  font-weight: bold;
  font-size: 3vh;
}

h4 {
  font-size: 3vh;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

b {
  margin-top: 1em;
  display: block;
  font-weight: 600;
  font-size: 3vh;
}

@media only screen and (max-width: 950px) {
  .left-centered {
    top: 75%;
    left: 60%;
    text-align: left;
    font-size: 6em;
  }

  .item-container {
      justify-content: center;
  }

  .text-body {
    margin-top: 2vh;
    max-width: 80vw;
    margin-left: 0vw;
  }

  .img-background {
    width: 80vw;
  }

  .card {
    max-width: 80%;
  }
}
